.banner {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.imageFrame {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    flex: 1;
}

.imageFrame img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner aside {
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 40px;
}

.banner aside p:first-of-type {
    font-size: 1.9rem;
    font-family: "Lora";
    color: #B76E79;
    padding: 1rem;
    letter-spacing: 1.4px;
    padding-left: 1em;
    align-self: start;
    overflow-wrap: normal;
}

.banner aside p:last-of-type {
    font-size: 9.3rem;
    font-family: "Motterdam";
    text-decoration: underline #B76E79 0.372rem; /* 4% of 9.3 */
    text-decoration-skip-ink: auto;
    text-underline-offset: 20px;
    color: #3d3434;
}

.banner img {
    max-height: 54rem;
    width: auto;
}

@media(max-width: 1300px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner aside {
        align-self: stretch;
        gap: 0;
        justify-content: start;
    }
}

@media(max-width: 750px) {
    .banner aside p:last-of-type {
        font-size: 7rem;
        text-decoration-thickness: 0.28rem;
    }
}

@media(max-width: 500px) {
    .banner aside p:first-of-type {
        text-align: center;
    }

    .banner aside p:last-of-type {
        font-size: 6rem;
        text-decoration-thickness: 0.24rem;
    }
}
