.featuredProductsContainerSplide {
    overflow: hidden;
    width: 90vw;
    margin: auto;
}

.prevArrow {
    left: 0px;
    filter: invert(51%) sepia(24%) saturate(685%) hue-rotate(301deg) brightness(92%) contrast(95%);
}

.nextArrow {
    right: 0px;
    filter: invert(51%) sepia(24%) saturate(685%) hue-rotate(301deg) brightness(92%) contrast(95%);
}

/* :global tag allows this file to add to .splide__arrow class without adding the hash at the end. */
:global .splide__arrow:disabled {
    display: none;
}

.featuredProductsContainerSplide :global .splide {
    padding-top: 0px;
}

/* Children after the 12th content is excluded */
.featuredProductsContainer .content:nth-child(n+13) {
    display: none;
}

.actionSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}