.featuredProductsContainerSplide {
    overflow: hidden;
    width: 90vw;
    margin: auto;
}

.prevArrow {
    left: 0px;
    filter: invert(51%) sepia(24%) saturate(685%) hue-rotate(301deg) brightness(92%) contrast(95%);
}

.nextArrow {
    right: 0px;
    filter: invert(51%) sepia(24%) saturate(685%) hue-rotate(301deg) brightness(92%) contrast(95%);
}

/* :global tag allows this file to add to .splide__arrow class without adding the hash at the end. */
:global .splide__arrow:disabled {
    display: none;
}

.featuredProductsContainerSplide :global .splide {
    padding-top: 0px;
}

/* Children after the 12th content is excluded */
.featuredProductsContainer .content:nth-child(n+13) {
    display: none;
}

.aSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.aSlide a {
    color: #B76E79;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.4s ease;
}

.aSlide a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: bottom center;
    transition: transform 0.4s ease;
}

.aSlide a:hover,
.aSlide a:active {
    transform: translateY(-0.3em); /* Move text upward */
}

.aSlide a:hover::after,
.aSlide a:hover::after {
    transform: translateY(0.3em); /* Move underline downwards to same position */
}