.productPreview {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imgFrame {
    height: auto;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.productPreview img {
    transition: opacity ease 0.24s;
    object-fit: contain;
    position: absolute;
    left: 0;
    aspect-ratio: 1;
    max-height: 100%;
}

.productDetails {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: fit-content;
    min-height: 106px;
    max-height: 128px;
    position: relative;
}

.productDetails button {
    background-color: white;
    color: #B76E79;
    border: none;
    text-decoration: underline;
    text-underline-offset: 0.4em;
    padding: 0 0 0.4em 0;
/*    padding-bottom: 0.4em;*/
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.productPreview:hover img.top {
    opacity: 0;
    cursor: pointer;
}

.productPreview:hover img {
    cursor: pointer;
}

.productPreview p:first-of-type:hover,
.productPreview:hover p:first-of-type {
    color: red;
    cursor: pointer
}