.productNavBar {
    min-height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em 0;
    overflow-x: auto;
}

.navListBox {
    padding: 0 2rem;
    margin-left: 2rem;
}

.productNavBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    gap: 3rem;
}

.productNavBar button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1rem;
    font-family: "Lora", serif;
}

.productNavBar button.isActive {
    font-size: clamp(1.5rem, .7512vw + 1.3239rem, 2rem);
}

@media(max-width: 850px) {
    .productNavBar ul {
        gap: 2rem;
    }
}

@media(max-width: 675px) {
    .productNavBar ul {
        gap: 1.5rem;
    }
}
