.productNavBar {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em 0;
}

.productNavBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    margin: 0;
    padding-inline-start: 0px;
}

.productNavBar button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 17px;
    font-family: "NotoSerif", serif;
}

.productNavBar button.isActive {
    font-size: 32px;
}