.pageFooter {
    padding: 2rem;
    width: 100%;
    border-top: 1px solid gray;
    font-size: clamp(11px, 0.6rem, 14px);
    color: darkgray;
}

.gridContainer {
    --newsletter: "newsletter";
    --menuOne: "menuOne";
    --menuTwo: "menuTwo";
    --contact: "contact";
    --otherMenuOne: "otherMenuOne";
    --otherMenuTwo: "otherMenuTwo";
    --copyright: "copyright";

    display: grid;
    /* This property needs to be overwritten in the component implementing this class */
    grid-template-areas: '';
    gap: 3rem 1rem;
}

.footerGridItem ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.pageFooter a {
    text-decoration: none;
    color: inherit;
}

.footerGridItem a:hover,
.footerGridItem a:focus {
    color: var(--rose-gold);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.pageFooter h2 {
    font-size: clamp(13px, 0.8rem, 16px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    color: gray;
}