@font-face {
    font-family: "Manrope";
    src: url(assets/fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Motterdam";
    src: url(assets/fonts/Motterdam.ttf);
}

@font-face {
    font-family: "EireneSans";
    src: url(assets/fonts/EireneSans-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "EireneSans";
    src: url(assets/fonts/EireneSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "EireneSans";
    src: url(assets/fonts/EireneSans-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: "EireneSans";
    src: url(assets/fonts/EireneSans-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lora";
    src: url(assets/fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: "NotoSerif";
    src: url(assets/fonts/NotoSerif-VariableFont.ttf);
}

html {
    font-size: calc(15px + 0.390625vw)
}


body {
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
}

:root {
    --header-height: 5.4rem;
}